@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box !important;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid white;
}
